[Desktop Entry]
Encoding=UTF-8
Name={{ name }}
Comment={{ description }}
Icon=preferences-system-windows-script-test
Type=Service

X-KDE-ServiceTypes=KWin/Script

X-KDE-PluginInfo-Name={{ name }}
X-KDE-PluginInfo-Version={{ version }}
X-KDE-PluginInfo-Depends=

X-KDE-PluginInfo-Author={{ author.name }}
X-KDE-PluginInfo-Website={{ homepage }}
X-KDE-PluginInfo-Email={{ author.email }}
X-KDE-PluginInfo-License={{ license }}

X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=javascript
X-Plasma-MainScript={{ main }}
